[package]
name = "funnyprint-proto"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
thiserror.workspace = true
tokio.workspace = true
uuid.workspace = true
btleplug.workspace = true
futures.workspace = true
